@model IEnumerable<AndHowIsItApp.Models.UserAdministrationModel>
@{
    ViewBag.Title = "ManageUsers";
}

<h3>Все пользователи</h3>
<table class="table table-bordered mt-3">
    <tr>
        <td>User Name</td>
        <td>Email</td>
        <td>Personal Page</td>
        <td>Role</td>
        <td>Block/Unblock</td>
        <td>Delete</td>
        @if (User.IsInRole("adminMaster"))
        {
            <td>Admin Roots</td>
        }
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            @using (Html.BeginForm("ManageUsers", "Admin", user, FormMethod.Post))
            {
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@Html.ActionLink("Личная страница", "PersonalPage", "Home", new { userId = user.Id }, new { @class = "btn btn-outline-dark"})</td>
                if (user.IsAdmin)
                {
                    <td>admin</td>
                }
                else
                {
                    <td>user</td>
                }
                if (user.IsAdmin)
                {
                    <td></td>
                }
                else if (user.IsBlocked)
                {
                    <td><button class="btn btn-outline-dark" name="option" value="block">Разблокировать</button></td>
                }
                else
                {
                    <td><button class="btn btn-outline-dark" name="option" value="block">Заблокировать</button></td>
                }
                if (user.IsAdmin)
                {
                    <td></td>
                }
                else
                {
                    <td><button class="btn btn-outline-dark" name="option" value="delete">Удалить</button></td>
                }
                if (User.IsInRole("adminMaster"))
                {
                    if (user.IsAdmin)
                    {
                        <td><button class="btn btn-outline-dark" name="option" value="toadmin">Отнять права</button></td>
                    }
                    else
                    {
                        <td><button class="btn btn-outline-dark" name="option" value="toadmin">Дать права</button></td>
                    }
                }
            }
        </tr>
    }
</table>
