@model IEnumerable<AndHowIsItApp.Models.CommentViewModel>

@foreach (var c in Model)
{
    <div>@c.Author.UserName</div>
    <div>@c.Author.Likes</div>
    <div>@c.Text</div>
    <div>@c.Date</div>
    <br />
}