<select name="sort" id="sortSelector" onchange="sortResults()">
    <option value="date-desc" selected>По дате добавления, от поздних к ранним</option>
    <option value="date-asc">По дате добавления, от ранних к поздним</option>
    <option value="likes-desc">По количеству лайков, от большего к меньшему</option>
    <option value="likes-asc">По количеству лайков, от меньшего к большему</option>
    <option value="subjectRating-desc">По рейтингу произведения, от большего к меньшему</option>
    <option value="subjectRating-asc">По рейтингу произведения, от меньшего к большему</option>
    <option value="reviewerRating-desc">По оценке автора, от большей к меньшей</option>
    <option value="reviewerRating-asc">По оценке автора, от меньшей к большей</option>
</select>