@{
    ViewBag.Title = "SearchResults";
}
<div>
    @Html.Action("TagCloud", new { category = ViewBag.SelectedCategory, tag = ViewBag.SelectedTag })
</div>

<h2>Результаты по запросу @ViewBag.ResultsBy:</h2>
<div>Сортировать по:</div>
<div>
    @Html.Partial("PreviewSortBar")
</div>
<div>
    @Html.Partial("PreviewSet")
</div>