@using (Html.BeginForm("SearchResults", "Home", FormMethod.Get, new { @class = "form-control" }))
{
    <h4>Categories</h4>
    <div class="btn btn-group">
        @Html.DropDownList("category", ViewBag.Categories as SelectList, AndHowIsItApp.Resources.Language.AllCategories, new { @class = "btn btn-outline-dark" })
        <button class="btn btn-outline-dark" type="submit">Показать</button>
    </div>
    <h4>Tags</h4>
    foreach (var t in ViewBag.Tags)
    {
        <input class="btn btn-outline-dark" type="submit" name="tagName" value="@t.Name">
    }
}