<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("English", "SetLanguage", "Interface", new { language = "en" }, null )</li>
    <li>@Html.ActionLink("Русский", "SetLanguage", "Interface", new { language = "ru" }, null)</li>
</ul>